{% extends "base.html" %}

{% block title %}mkouhei&#039;s site{% endblock %}
{% block h1 %}mkouhei{% endblock %}
{% block content %}
	<p>I am a self-styled super-househusband. I do mainly housework, and am doing the profession of the hobby and the side job of work on the other hand. :)</p>
	<h2 id=".tk-fertigo-pro">About this site</h2>
	<p>I am usually using the micro server named OpenBlockS as home server. It is a hobby.</p>
	<h2 id=".tk-fertigo-pro">My public GnuPG key for signing is <a href="http://ow.ly/2mOph">here</a>.</h2>
	<pre>
pub 4096R/7E37CE41 2009-06-19
    Key fingerprint = B8F2 86F6 2206 360F 7D41
                      0817 2E81 6254 7E37 CE41
uid  Kouhei Maeda
     &lt;<img src="static/signature1.png"/>&gt;
uid  Kouhei Maeda (Debian JP Project)
     &lt;<img src="static/signature2.png"/>&gt;
uid  Kouhei Maeda
     &lt;<img src="static/signature3.png"/>&gt;
sub 4096R/35992CC1 2009-06-19
      </pre>
	<ul>
	  <li><a href="/wiki/">Wiki (ja)</a></li>
	  <li><a href="http://d.hatena.ne.jp/mkouhei/">Blog (ja)</a></li>
	  <li><a href="http://d.hatena.ne.jp/emkouhei/">Blog (en)</a></li>
	  <li><a href="https://twitter.com/mkouhei">Twitter (ja)</a></li>
	  <li><a href="https://twitter.com/emkouhei">Twitter (en)</a></li>
	  <li><a href="http://mkouhei.tumblr.com/">Tumblr</a></li>
	  <li><a href="http://mixi.jp/show_friend.pl?id=9891736">mixi</a></li>
	  <li><a href="http://tinyurl.com/meshitosake">MyMap (ja)</a></li>
	</ul>
{% endblock %}
